* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}

.container {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.col-4 {
  display: flex;
  width: 33.33333333333333%;
  height: 100vh;
}

.center {
  text-align: center;
  justify-content: center;
  align-items: center;
}

.login__area {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.registration {
  margin-top: 20px;
  width: 300px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  border: 1px solid lightgray;
  border-radius: 7px;
  padding: 20px;
}

.registration input {
  margin-top: 6px;
}

.registration label {
  margin-top: 6px;
}

.btn__register {
  width: 100px;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 6px;
}

.login {
  width: 300px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  border: 1px solid lightgray;
  border-radius: 7px;
  padding: 20px;
}

.login input {
  margin-top: 6px;
}

.login label {
  margin-top: 6px;
}

.btn__enter {
  width: 100px;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 6px;
}

.formik__login {
  display: flex;
  flex-direction: column;
}

.formik__register {
  display: flex;
  flex-direction: column;
}

.form__register__fields {
  display: flex;
  flex-direction: column;
}
