* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}

.form__field__modal input {
  width: 100%;
}

.btn__modal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.btn__x {
  cursor: pointer;
  background-color: red;
  padding: 10px;
}
