* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}

#listUsers {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 100%;
  padding: 100px 0;
  z-index: 5;
}

#listUsers h1 {
  margin-top: 30px;
}

.filter {
  margin-top: 20px;
}

.filter input {
  padding: 5px;
}

.container__list {
  width: 60%;
}

.container h1 {
  margin-top: 20px;
}

.users__list td {
  width: 200px;
  height: 10px;
}

.input_search {
  width: 300px;
  cursor: text;
}

.table__users {
  margin-top: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.table__users table {
  border: 2px solid #000;
  border-collapse: collapse;
}
.table__users th {
  border: 2px solid #000;
  border-collapse: collapse;
}
.table__users td {
  border: 2px solid #000;
  border-collapse: collapse;
  padding: 3px;
}

.delete__icon {
  cursor: pointer;
}

.delete__icon :hover {
  color: #e3773f;
}

.edit__icon {
  cursor: pointer;
}

.edit__icon :hover {
  color: #e3773f;
}

.span__text {
  font-weight: 700;
  color: #e3773f;
}
